/* Variables */
:root {
  --primary: #98E1F9;
  --dark: #001319;
  --light: #DCF6FE;
  --shadow: 0 0 5px var(--primary);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-image: linear-gradient(to bottom left, var(--primary), black);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark);
}

/* Header */
#header {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  background: linear-gradient(to right, var(--primary), rgb(220, 246, 254, 0.6));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#title {
  line-height: 3em;
  justify-self: left;

}

#header-img {
  align-self: left;
  width: 2.5em;
  border-radius: 50%;
  padding: 0.25em;
}

#nav-bar {
  display: flex;
  justify-self: right;
}

.nav-link,
.continue,
#submit {
  color: var(--dark);
  padding: 1em;
}

.nav-link:hover,
.continue:hover,
#submit:hover {
  background: rgb(0, 19, 25, 0.6);
  color: var(--light);
}

/* Content */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3em;
  line-height: 1.4em;
  width: 66vw;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-between;
  border-radius: 0.1em;
  background: rgb(220, 246, 254, 0.6);
}

h1,
h2,
#title,
#about-text,
#copyright {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

h1 {
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 4em;
}

#about-text {
  flex-direction: column;
  font-size: 1.25em;
  background: rgb(220, 246, 254, 0.2);
  padding: 1em;
  margin: 0;
}

#about-p-2 {
  margin-top: 3em;
}

.left-item {
  padding-right: 1em;
}

#survey-form {
  justify-content: flex-start;
  background: rgb(220, 246, 254, 0.7);
}

#services {
  background: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  box-shadow: none;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.3%;
  background: rgb(220, 246, 254, 0.7);
  padding: .5em;
  border-radius: 0.1em;
}

h4 {
  text-align: center;
}

.lower {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.price {
  margin-right: 0.25em;
  margin-bottom: 0;
  background: rgb(220, 246, 254, 0.4);
  padding: 0.3em;
}

#business-website {
  background: rgb(220, 246, 254, 0.6);
}

.continue {
  background: var(--primary);
  color: var(--dark);
  border-radius: 0.1em;
  padding: 0.3em;
  margin: 0;
}

#form {
  margin: auto;
  margin-top: 15em;
  margin-bottom: 15em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

#email {
  padding: .5em;
  margin: auto;
  margin-bottom: 1em;
  width: 20em;
  border-style: none;
  box-shadow: var(--shadow);
  border-radius: 0.1em;
}

#submit {
  width: 5em;
  align-self: center;
  background: var(--primary);
  border-style: none;
  font-size: 1em;
  padding: 0.3em;
  box-shadow: var(--shadow);
  border-radius: 0.1em;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
}

.fa:hover {
  opacity: 0.7;
}

#github {
  font-size: 1.5em;
  color: #000;
  justify-self: right;
}

#twitter {
  font-size: 1.5em;
  color: #00aced;
  justify-self: left;
}

#copyright {
  justify-self: center;
  line-height: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}

/* Media Query */
@media (max-width: 750px) {
  body {
    background-image: linear-gradient(to bottom left, var(--primary), rgb(20, 20, 20));
  }

  #header {
    grid-template-columns: 3em 1fr;
    position: relative;
  }

  #nav-bar {
    flex-direction: column;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: center;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3em;
  }

  .wrapper {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  #services {
    width: 100%;
  }

  .service {
    width: 90%;
    margin: auto;
  }
}