/* Variables */
:root {
  --primary: #98E1F9;
  --dark: #001319;
  --light: #DCF6FE;
  --shadow: 2px 2px 4px rgba(3, 167, 211, 0.8);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: var(--primary);
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: var(--dark);
}

/* Header */
#header {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  background: var(--light);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: var(--shadow);
}

#title {
  line-height: 3em;
  justify-self: left;

}

#header-img {
  align-self: left;
  width: 2.5em;
  border-radius: 50%;
  padding: 0.25em;
}

#nav-bar {
  display: flex;
  justify-self: right;
}

.nav-link {
  background: var(--dark);
  color: var(--light);
  padding: 1em;
}

.nav-link:hover, .continue:hover {
  background: var(--primary);
  color: var(--dark);
}

/* Content */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3.5em;
  line-height: 1.4em;
  width: 66vw;
}

.content {
  display: flex;
  flex-direction: row;
  background: var(--light);
  padding: 1em;
  margin: 0.5em;
  box-shadow: var(--shadow);
}

h1, h2 {
  text-align: center;
}

#about {
  flex-direction: column;
}

.left-item {
  padding-right: 1em;
}

#services {
  background: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  box-shadow: none;
}

.service {
  width: 33.3%;
  background: var(--light);
  padding: 1em;
  margin: 0.5em;
  text-align: center;
  box-shadow: var(--shadow);
}


.continue {
  background: var(--dark);
  color: var(--light);
  padding: 0.5em;
}

#form {
  margin: auto;
  margin-top: 15em;
  margin-bottom: 15em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

#email {
  padding: .5em;
  margin: auto;
  margin-bottom: 1em;
  width: 20em;
}

#submit {
  width: 5em;
  margin: auto;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.fa:hover {
  opacity: 0.7;
}

#github {
  font-size: 1.5em;
  color: #000;
  justify-self: right;
}

#twitter {
  font-size: 1.5em;
  color: #00aced;
  justify-self: left;
}

#copyright {
  justify-self: center;
  line-height: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}

/* Media Queries */
@media (max-width: 750px) {
  #header {
    grid-template-columns: 3em 1fr;
  }
  #nav-bar {
    flex-direction: column;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: center;
  }
  .wrapper {
    width: 100%;
    margin-top: 13em;
  }
  .content {
    flex-direction: column;
  }
  #services {
    width: 100%;
  }
  .service {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
  }
}